<div class="mx-5 md:mx-[10%]">
  <app-hero-card1
    [hero]="{
      title: 'Hair',
      description:
        'Start from the top: great hair starts with a healthy scalp. We’ve got you covered with a range of expert formulas to keep your hair in tip-top shape and your style in mint condition.',
      product: 'shop hair',
      image:
        'https://theme-refresh-demo.myshopify.com/cdn/shop/files/image_81.jpg?v=1650476862&width=750'
    }"
  ></app-hero-card1>
  <app-hero-card2
  [hero]="{
    title: 'Body',
    description:
      'Caring for your body shouldn’t start and end with a hot shower. Show it some love with powerhouse formulas to keep your skin clean and healthy.

Shop body',
    product: 'shop body',
    image:
      'https://theme-refresh-demo.myshopify.com/cdn/shop/files/image_80.jpg?v=1650476746&width=750'
  }"
  ></app-hero-card2>
  <app-hero-card1
    [hero]="{
      title: 'Face',
      description:
        'Your face is the first thing people see. Make sure it’s a good impression with our range of skincare products to keep your skin clean, clear, and glowing.',
      product: 'shop face',
      image:
        'https://theme-refresh-demo.myshopify.com/cdn/shop/files/04.jpg?v=1650476601&width=750'
    }"
  ></app-hero-card1>
  <app-hero-card2
    [hero]="{
        title: 'Kits',
        description:
        'Bundle up and save on our best combo kits for face, body, and hair. These thoughtful combinations have everything you need to look great and feel fresh, day after day.',
        product: 'shop kits',
        image:
        'https://theme-refresh-demo.myshopify.com/cdn/shop/files/huron_pdp_shower-kit-1-mobile_1125x_a05dfd42-ff0a-4b45-9044-7de3d269d157.webp?v=1650477089&width=750'
    }"
  ></app-hero-card2>
</div>
