<div class="flex flex-col-reverse md:flex-row justify-center items-center   py-5">
    <div class="flex flex-col gap-y-5 p-5 bg-white h-[350px] md:h-[500px] rounded-t-lg md:rounded-l-lg md:rounded-t-none justify-center">
    <div class="text-[#0E1B4D] font-bold text-xl md:text-3xl">{{hero.title}}</div>
    <div class="text-sm md:text-lg text-[#0E1B4D]">{{hero.description}}</div>
    <div><button class="bg-[#0E1B4D] text-white px-4 py-2 rounded-full">{{hero.product}}</button></div>
</div>
    <div class="w-full">
    <img class="w-full rounded-b-lg md:rounded-b-none md:rounded-r-lg  h-[350px] md:h-[500px]" src="{{hero.image}}" alt="" >
    </div>
</div>