<div class=" z-40 h-screen relative bg-cover bg-center bg-no-repeat" style="background-image: url('https://theme-refresh-demo.myshopify.com/cdn/shop/files/image_81.jpg?v=1650476862&width=1070');">
  <div class="bg-white rounded-xl p-5 absolute top-[50%] left-[50%]  transform translate-y-[-50%] translate-x-[-50%] w-full md:w-[500px]  flex justify-center items-center gap-y-3 h-[300px] flex-col">
    <div class="font-bold text-4xl">{{hero.title}}</div>
    <div class="text-lg text-center">
        <!-- Lather up with our newest shampoo for clean, strong, and healthy hair. -->
       {{hero.description}}
    </div>
    <div class="{{hero.product==''?'hidden':'block'}}"><button class="bg-[#0E1B4D] text-white p-3 rounded-full">shop {{hero.product}} </button></div>
  </div>
</div>
