<div class="h-screen relative bg-cover bg-center bg-no-repeat" style="background-image: url('https://theme-refresh-demo.myshopify.com/cdn/shop/files/image_81.jpg?v=1650476862&width=1070');">
  <div class="bg-white rounded-xl p-5 absolute top-[50%]  md:left-[5%] transform translate-y-[-50%] w-full max-w-[400px]  flex justify-start items-start gap-y-3 flex-col">
    <div class="font-bold text-4xl">Your Hair, but better</div>
    <div class="">
        Lather up with our newest shampoo for clean, strong, and healthy hair.
    </div>
    <div><button class="bg-[#0E1B4D] text-white p-3 rounded-full">shop shampo</button></div>
  </div>
</div>
