<div class="flex flex-col md:flex-row justify-center items-center   py-5">
    <div class="w-full">
        <img class="w-full rounded-t-lg md:rounded-l-lg md:rounded-t-none  h-[300px] md:h-[400px]" src="{{hero.image}}" alt="" >
        </div>
    <div class="flex flex-col gap-y-5 p-5 bg-white h-[300px] md:h-[400px] rounded-b-lg md:rounded-r-lg md:rounded-b-none justify-center">
    <div class="text-[#0E1B4D] font-bold text-xl md:text-3xl">{{hero.title}}</div>
    <div class="text-sm md:text-lg text-[#0E1B4D]">{{hero.description}}</div>
    <div><button class="bg-[#0E1B4D] text-white px-4 py-2 rounded-full">{{hero.product}}</button></div>
</div>
    
</div>